
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

<head>   
<title>The HTML5 Herald</title>
  <meta name="description" content="Home Page">
  <meta name="author" content="ahmed hamad"

    <link rel="stylesheet" href="/css/main.css">
</head>
    <body> 
    <h1>Home page </h1>
  
    <hr> 

    <h2>Cars list</h2>
    {{#each car}}
  <li>For details :<a href="/detail?model={{model}}">{{model}} </a> </li>
    {{/each}}


</body>
</html> 

